body {
  background-color: #D9D9D9;
}

.window-body {  
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.btn-navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin-inline: 50px;
    margin-block: 30px;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}

.selector-card {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-color: #9C9C9C;
}

.selector-card:hover {
  transform: scale(1.05);
}

.dialog-pages {
    height: 120px;
    width: 55%;
    position: absolute;
    display: flex;
    bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #A1A1A1;
    padding-inline: 90px;
}

.dialog-pages:hover {
  transform: scale(1.01);
}

.hidden {
  display: none !important;
}

.btn-comand {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: #9C9C9C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-comand:hover {
  transform: scale(1.1);
}
